/.gitattributes
/.htaccess
/CHANGELOG.txt

/admin/*
!/admin/seotools
/admin/seotools/*
!/admin/seotools/siteDiagnostic.php
/assets
/data
/includes/*
!/includes/cronjobs
/includes/cronjobs/*
!/includes/cronjobs/siteDiagnostic_update.php
/install
/modules
/themes/*
!/themes/admin_default
/themes/admin_default/*
!/themes/admin_default/modules
/themes/admin_default/modules/*
!/themes/admin_default/modules/seotools
/themes/admin_default/modules/seotools/*
!/themes/admin_default/modules/seotools/siteDiagnostic.tpl
/uploads
/vendor/*
!/vendor/vinades
!/vendor/vinades/*
!/vendor/vinades/nukeviet
/vendor/vinades/nukeviet/*
!/vendor/vinades/nukeviet/Client
/vendor/vinades/nukeviet/Client/*
!/vendor/vinades/nukeviet/Client/Diagnostic.php
/CONTRIBUTING.md
/composer.json
/config.php
/favicon.ico
/index.php
/robots.php
/robots.txt
/web.config
